body,html
{
    height: 100%;
    width: 100%;
    font-family:"Arial", sans-serif;
    font-size: 14px;
    line-height: 130%;
    position: relative;
    
    
}
.wrapper
{
    position: relative;
    max-width: 100%;
    min-width: 1000px;
    font-family: "Arial";
    box-sizing: border-box;
    padding-bottom:;
    min-height: 100%;
    background-color: #fff;
    color: #000;
}
.in
{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 120px;
    padding-right: 120px;
    
}
header
{
    height: 556px;
    max-width: 100%;
    background-image: url(../image/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
}
#strdoma
{
    color: #000;
    margin-left: 635px;
    margin-top: 107px;
    display: inline-block;
    font-size: 23px;
    line-height: normal;
    text-align: center;
}
#strdoma:hover
{
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    width: 278px;
    height: 35px;
    position: relative;
    
}
#strdoma:hover::after
{
    content: "";
    width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
    display: block;
    position: absolute;
    top:30px;
    left: 10%;
    
      
    

}

#kotedji
{
   display: inline-block;
   margin-right: x;
   margin-top:15px ;
   font-size: 23px;
   line-height: normal; 
   color: #000;
   text-align: center;
}
#kotedji:hover
{
   background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    width: 178px;
    height: 35px;
    position: relative;
}
#kotedji:hover::after
{
    content: "";
    width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
    display: block;
    position: absolute;
    top:30px;
    left: 10%;
}
#obor
{
   display: inline-block;
   margin-left: 944px;
   margin-top:18px ;
   font-size: 23px;
   line-height: normal; 
   color: #000;
   text-align: center;
}
#obor:hover
{
   background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    width: 178px;
    height: 35px;
    position: relative;
}
#obor:hover::after
{
    content: "";
    width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
    display: block;
    position: absolute;
    top:30px;
    left: 10%;
}
#repom
{
   display: inline-block; 
   font-size: 23px;
   line-height: normal; 
   color: #000;
    margin-left:284px;
    margin-right: 400px;
    text-align: center;
}
#repom:hover
{
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    width: 278px;
    height: 35px;
    position: relative;
}
#repom:hover::after
{
    content: "";
    width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
    display: block;
    position: absolute;
    top:30px;
    left: 10%;
}
#strbani
{
    display: inline-block;
    font-size: 23px;
    line-height: normal;
    color:#000;
    margin-top: 35px;
    margin-left: 225px;
    text-align: center;
    
}
#strbani:hover
{
     background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    width: 278px;
    height: 35px;
    position: relative;
}
#strbani:hover::after
{
    content: "";
    width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
    display: block;
    position: absolute;
    top:30px;
    left: 10%;
}
#land
{
    display: inline-block;
   font-size: 23px;
   line-height: normal; 
   color: #000;
   margin-top: 128px;
    margin-left: 688px;
    text-align: center;
}
#land:hover
{
     background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    width: 178px;
    height: 35px;
    position: relative;
}
#land:hover::after
 {
    content: "";
    width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
    display: block;
    position: absolute;
    top:30px;
    left: 10%;
}
#kol
{
   display: inline-block;
   text-align: center;
   font-size: 23px;
   line-height: normal; 
   color: #000;
   margin-top: 0px;
    margin-left: 461px; 
}
#kol:hover
{
     background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    width: 178px;
    height: 35px;
    position: relative;
}
#kol:hover::after
 {
    content: "";
    width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
    display: block;
    position: absolute;
    top:30px;
    left: 10%;
}
h1
{
    font-size: 37px;
    line-height: normal;
    color: #51a60c;
    float: right;
    text-transform: uppercase;
    padding-bottom: 24px;
}
h1:after
{
content: '';
clear: right;
}
li:before
{
    content: '-'
}
section ul 
{
padding-top: 107px;
float: left;
margin-right: 200px;
}
li
{
    padding-bottom: 18px;
}
li:hover
{
    text-decoration: underline;
}
.bigtext
{
    float: right;
    
    width: 500px;
    height: 262px;
    
}
.link  
{
    text-decoration: underline;
}
.link:cheaked
{
    color: #cc00cc;
}