body,html
{
    height: 100%;
    width: 100%;
    font-family:"Arial", sans-serif;
    font-size: 14px;
    line-height: 130%;
    position: relative;
    
    
}
.wrapper
{
    position: relative;
    max-width: 100%;
    min-width: 1000px;
    font-family: "Arial";
    box-sizing: border-box;
    padding-bottom:;
    min-height: 100%;
    background-color: #fff;
    color: #000;
}
.in
{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    
}
header
{
    height: 556px;
    max-width: 100%;
    background-image: url(../image/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
}
#strdoma
{
    color: #000;
    margin-left: 635px;
    margin-top: 88px;
    display: inline-block;
    font-size: 23px;
    line-height: normal;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    width: 278px;
    height: 35px;
    position: relative;
}
#strdoma:hover
{
    background-color: #fff;   
}
#strdoma:hover::after
{
    content: "";
    width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
    display: block;
    position: absolute;
    top:30px;
    left: 10%;
    
      
    

}

#kotedji
{
   display: inline-block;
   margin-right: x;
   margin-top:15px ;
   font-size: 23px;
   line-height: normal; 
   color: #000;
   text-align: center;
   border-radius: 10px 10px 10px 10px;
   width: 178px;
   height: 35px;
   position: relative;
}
#kotedji:hover
{
   background-color: #fff;
  
}
#kotedji:hover::after
{
    content: "";
    width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
    display: block;
    position: absolute;
    top:30px;
    left: 10%;
}
#obor
{
   display: inline-block;
   margin-left: 944px;
   margin-top:18px ;
   font-size: 23px;
   line-height: normal; 
   color: #000;
   text-align: center;
   border-radius: 10px 10px 10px 10px;
   width: 178px;
   height: 35px;
   position: relative;
}
#obor:hover
{
   background-color: #fff;
}
#obor:hover::after
{
    content: "";
    width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
    display: block;
    position: absolute;
    top:30px;
    left: 10%;
}
#repom
{
   display: inline-block; 
   font-size: 23px;
   line-height: normal; 
   color: #000;
    margin-left:283px;
    margin-right: 341px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    width: 276;
    height: 35px;
    position: relative;
    
}
#repom:hover
{
    background-color: #fff;
}
#repom:hover::after
{
    content: "";
    width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
    display: block;
    position: absolute;
    top:30px;
    left: 10%;
}
#strbani
{
    display: inline-block;
    font-size: 23px;
    line-height: normal;
    color:#000;
    margin-top:5px;
    margin-left: 225px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    width: 178px;
    height: 50px;
    position: relative;
    text-align: left;
    padding-bottom: 30px;
    
    
}
#strbani:hover
{
     background-color: #fff;
}
#strbani:hover::after
{
    content: "";
    width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
    display: block;
    position: absolute;
    top:50px;
    left: 10%;
}
#land
{
    display: inline-block;
   font-size: 23px;
   line-height: normal; 
   color: #000;
   margin-top: 127px;
    margin-left: 688px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    width: 178px;
    height: 35px;
    position: relative;
}
#land:hover
{
     background-color: #fff;
}
#land:hover::after
 {
    content: "";
    width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
    display: block;
    position: absolute;
    top:30px;
    left: 10%;
}
#kol
{
   display: inline-block;
   text-align: center;
   font-size: 23px;
   line-height: normal; 
   color: #000;
   margin-top: 0px;
    margin-left: 488px; 
    border-radius: 10px 10px 10px 10px;
    width: 178px;
    height: 35px;
    position: relative;
}
#kol:hover
{
     background-color: #fff;
}
#kol:hover::after
 {
    content: "";
    width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
    display: block;
    position: absolute;
    top:30px;
    left: 10%;
}
h1
{
    font-size: 37px;
    line-height: normal;
    color: #51a60c;
    float: right;
    text-transform: uppercase;
    padding-bottom: 24px;
}
h1:after
{
content: '';
clear: right;
}
.level1 > li:before
{
    content: '-';
}

section .level1
{
padding-top: 109px;
float: left;
margin-right: 50px;
padding-left: 62px;
}
.level1 li
{
    padding-bottom: 18px;
}
li:hover
{
    text-decoration: underline;
}
.bigtext
{
    float: right;
    
    max-width: 500px;
    height: 262px;
    
}
.link  
{
    text-decoration: underline;
}
.link:cheaked
{
    color: #cc00cc;
}
section
{
   
    height:400px;
}
.op
{
    float: right;
    margin-top: 64px;
    width: 376px;
    height: 174px;
    border: 2px solid #dcdcdc;
    border-radius: 16px 16px 16px 16px;
    border-bottom: 6px solid #2bb500;
    padding: 20px;
}
.op > h3
{
    width: 76px;
    margin-left: -5px;
    padding-left: 25px;
    position: relative;
}

.level2
{
    margin-top: 64px;
    width: 376px;
    height: 174px;
    float: left;
    border: 2px solid #dcdcdc;
    border-radius: 16px 16px 16px 16px;
    border-bottom: 6px solid #2c4098;
    padding: 20px;
    margin-left: 21px;
}
.level2 ul > li:before
{
    content: '* ';
}
h3
{
    margin-top: -37px;
    background-color: #fff;
    margin-left: 30px;
    padding: 5px 10px 5px 10px;
    width: 150px;
    font-size: 24px;
}
.circle
{
    
    position: absolute;
    padding-left: 900px;
    
    /*-moz-padding-left:453px;*/
}
.main_content
{
    column-count: 1;
    column-width: 428px;
}
.pad
{
    padding-right: 20px;
}
.main_content  h1
{
    text-transform: uppercase;
    padding: 0px 52px 36px 0px;
    font-size: 24px;
    line-height: normal;
    color: #000;
    float: left;
}
h1:after
{
    content: '';
    clear: both;
}
.main_content .ftext , .rcol , .ftext2
{
    width: 428px;
    
}
.main_content > .right 
{
    text-transform: uppercase;
    padding: 0px 52px 36px 0px;
    font-size: 24px;
    line-height: normal;
    color: #000;
    float: right;
}
.right_col
{
    float: right;
    
}
.rr
{
    width: 428px;
    float: left;
    display: inline-block;
    padding-bottom: 136px;
}
.main_content .pad
{
    padding-right: 59px;
}
.mmm
{
    float: right;
    padding: 37px 0px 25px 76px;
    font-size: 22px;
    line-height: normal;
}
.line
{
    padding-top: 17px;
    padding-bottom: 27px;
}
.news
{
    font-size: 24px;
    line-height: normal;
    text-transform: uppercase;
    color: #000;
    float: left;
    padding-top: 12px;
    
}
.padding
{
    padding-top: 255px;
}
.date1  time
{
    float: left;
    color: grey;
    padding-right: 2px; 
}
.pl
{
   
    width: 253px;
    height: 118px;
    padding-top: 22px;
}
.date1
{
    padding-right: 117px;
}
.date3 time
{
    float: left;
}
.date2
{
    padding-right: 68px;
}
.date3
{
    float: right;
}
.nn
{
   display: block; 
}
.date1 , .date2
{
    display: inline-block;
}